# Model checkpoints
ckpts/indian_tts/model_last.pt
ckpts/indian_tts/model_last.pt.part_aa
ckpts/indian_tts/model_last.pt.part_ab
ckpts/indian_tts/model_last.pt.part_ac
ckpts/F5TTS_Base/
ckpts/F5TTS_v1_Base/
*.pt
*.safetensors
*.bin

# Large data
data/indian_tts/wavs/
data/indian_tts_pinyin/raw.arrow

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Mac
.DS_Store

# Env
.env

# Logs
*.log
runs/
test_postprocessed.wav
